body {
	font-family: sans-serif;
	/*background-color: #999999;*/
}

html,body,
.view{
	height: 100%;
}

h1{
	display: flex;
	justify-content: center;
}

#videos{
	display:flex;
	justify-content: space-around;
}

#buttons{
	position: fixed;
	width:99.99%;
	max-height: 100%; 
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

button{  
  border-radius: 16px;
  border: none;
  text-align: center;
  background-color:#3baf9e;
  size:7800px;
  padding: 8px 14px;
  margin:9px;
}

video {
	margin: 1em;
	background-color: black;
	border: solid green;
	max-width: 25em;
	max-height: 20em;
}
